# System files
*.log
*.swp

# Configuration
config.yaml

# Database - a git repo
ehhapp-data
tech-docs

*~

# Uploaded assets
public/uploads/*
!public/uploads/.emptyfile

# Testing and Documentation
/doc
/spec
.rspec

# Deployment System files
tmp/
.bundle/
