@import url("jqm-icon-pack-fa.css");

/** FONTS **/

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('font/VeraMono-webfont.eot');
  src: url('font/VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/VeraMono-webfont.woff') format('woff'),
       url('font/VeraMono-webfont.ttf') format('truetype'),
       url('font/VeraMono-webfont.svg#BitstreamVeraSansMonoRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('font/VeraMono-Italic-webfont.eot');
  src: url('font/VeraMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/VeraMono-Italic-webfont.woff') format('woff'),
       url('font/VeraMono-Italic-webfont.ttf') format('truetype'),
       url('font/VeraMono-Italic-webfont.svg#BitstreamVeraSansMonoOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('font/VeraMono-Bold-webfont.eot');
  src: url('font/VeraMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/VeraMono-Bold-webfont.woff') format('woff'),
       url('font/VeraMono-Bold-webfont.ttf') format('truetype'),
       url('font/VeraMono-Bold-webfont.svg#BitstreamVeraSansMonoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('font/VeraMono-Bold-Italic-webfont.eot');
  src: url('font/VeraMono-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/VeraMono-Bold-Italic-webfont.woff') format('woff'),
       url('font/VeraMono-Bold-Italic-webfont.ttf') format('truetype'),
       url('font/VeraMono-Bold-Italic-webfont.svg#BitstreamVeraSansMonoBdOb') format('svg');
  font-weight: bold;
  font-style: italic;
}

/** GENERAL ELEMENTS **/

.auth-flash, .on-branch-message {
  position: absolute;
  top: 0.2em;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 1000;
}

.on-branch-message {
  top: 2.6em;
}

.ui-header.on-branch ~ .ui-content {
  padding-top: 42px;
}

.no-page-message {
  margin-bottom: 4em;
}

.ui-header .wide-only {
  display: none;
}

.ui-li-divider {
  text-transform: uppercase;
}

.ui-content p > img {
  max-width: 100%;
}

/** LOGIN **/

.login-form .key {
  font-size: 200%;
  max-width: 6em;
  margin: .5em auto;
}

.login-form .secondary {
  opacity: 0.8;
  font-style: italic;
  margin-top: 30px;
}

.login-form .ui-select {
  left: 11%;
}

.login-form .ui-field-contain label {
  vertical-align: middle;
  text-align: right;
}

/* some customization for narrow mobile displays */
@media (max-width: 450px) {
  .login-form label { display: none; }
  .login-form .ui-select { left: 5%; }
}

/** EDITOR PAGES **/

.ui-page.editor {
  background: #ccc;
}

.editor-form-cont {
  background: #f9f9f9;
  margin: -15px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 24px 16px rgba(249,249,249,1);
  -moz-box-shadow: 0px 0px 24px 16px rgba(249,249,249,1);
  box-shadow: 0px 0px 24px 16px rgba(249,249,249,1);
}

.edit-title {
  font-weight: bold;
}

.page-editor .metadata {
  text-align: center;
}

.page-editor .author, .page-editor .owner {
  font-weight: bold;
}

.page-editor .mdown-editor, .page-editor pre.code, code {
  font-family: "Bitstream Vera Sans Mono",Menlo,Consolas,monospace,serif;
}

.page-editor .examples {
  margin: 30px -15px;
  padding: 15px;
}

.page-editor .examples-list {
  display: none;
}

.page-editor .examples-list.examples-active, .page-editor .examples-list.examples-always-active {
  display: block;
  opacity: 0.8;
}

.page-editor .clear {
  clear: both;
}

.page-editor .example-pair {
  border-top: 1px solid #bbb;
  padding-top: 15px;
  margin-top: 60px;
}

.page-editor .example-pair:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 30px;
}

.page-editor .example-pair pre.code {
  overflow-x: auto;
  white-space: pre-wrap;
}

.page-editor .example-pair pre.code .hilite {
  background-color: rgba(255, 0, 0, .5);
}

.code::-webkit-scrollbar {
    -webkit-appearance: none;
}

.code::-webkit-scrollbar:horizontal {
    height: 11px;
}

.code::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.page-editor .content-preview {
  margin: 30px;
}

.page-editor .help-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}

.page-editor .examples > .ui-collapsible > .ui-collapsible-heading-collapsed {
  opacity: 0.7;
}

.page-editor .upload-list {
  list-style-type: none;
  padding: 0;
  margin: 0 -15px;
  height: 118px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.page-editor .upload-list::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}
.page-editor .upload-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}

.page-editor .upload-list li {
  display: inline-block;
  margin: 0 5px;
}

.page-editor .upload-list .ui-btn-inner {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  height: 80px;
  width: 80px;
}

.page-editor .upload-list a {
  margin-top: 0;
  width: 100px;
  height: 100px;
}

.page-editor .upload-list li img {
  max-width: 100%;
  max-height: 100%;
}

.page-editor .upload-list li .file-name {
  display: block;
  max-width: 100px;
  margin: 0 -10px;
  white-space: normal;
  font-size: 10px;
  max-height: 37px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-hide {
  display: none;
}

.history-list {
  list-style-type: none;
}

.button-secondary{
  padding-right:1em;
  font-weight: normal;
}

/** OTHER PAGES **/

.total-sum {
  position: absolute;
  right: 0em;
}

.ui-page > p {
  margin-left: 0.5em;
}

.drugmeta {
  font-size: 0.8em;
  font-weight: normal;
}

.category {
  display: none;
}

.price.special {
  
}

.subcategory {
  font-style: italic;
  opacity: 0.7;
  border-radius: 1em;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(127,127,127,0.3);
  padding: 0.2em 0.4em 0.2em 0.3em;
}

.display-table {
  display: table;
  width: 100%;
}

.display-table-row {
  display: table-row;
}

.redirect-list .ui-btn-text a.ui-link-inherit {
  white-space: normal;
  line-height: normal;
}

.redirect-list .secondary {
  font-size: 0.8em;
  font-weight: normal;
}

.assessment-form {
  padding-top: 30px;
}

table {
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
}


/* CSS optimized for wider screens (tablets, desktop screens) */

@media (min-width: 450px) {
  .ui-header .wide-only {
    display: inline;
  }
  
  .ui-field-contain label.ui-select {
    line-height: 2.8em;
    text-align: right;
  }

  .login-form p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-editor .html {
    float: left;
    width: 50%;
  }
  
  .page-editor .mdown {
    float: left;
    width: 49%;
  }
  
  .page-editor .help-text {
    display: none;
  }
  
  .page-editor .html .help-text {
    padding-left: 15px;
  }
  
  .page-editor .example-pair {
    border-top: 1px solid #bbb;
    padding-top: 0;
  }
  
  .page-editor .example-pair:first-child {
    border-top: none;
  }
  
  .page-editor .example-pair:first-child .help-text {
    display: block;
  }

  .assessment-form .ui-controlgroup-label {
    margin: 3% 1% 0 1%;
  }
}
