<!DOCTYPE html> 
<html> 
  <head> 
  <title>EHHapp</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <link rel="apple-touch-icon-precomposed" href="images/ehhapp.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <link rel="stylesheet" href="css/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="add2home.css">
  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/jquery.mobile-1.2.0.min.js"></script>
  <script src="js/app.js"></script>
  <script type="application/javascript" src="add2home.js"></script>
</head> 
<body> 

<div data-role="page" data-dom-cache="true">

  <div data-role="footer" data-id="nav" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="IThelp.html" data-icon="info" data-prefetch>FAQ</a></li>
        <li><a href="phone.html" data-icon="phone" data-prefetch>Contact</a></li>
        <li><a href="index.html" class="ui-state-persist ui-btn-active" data-icon="fahome" data-iconpos="notext">Home</a></li>
        <li><a href="Formulary.html" data-icon="faplus" data-prefetch>Rx</a></li>
        <li><a href="documents.html" data-icon="file" data-prefetch>Docs</a></li>
      </ul>
    </div><!-- /navbar -->
  </div>

  <div data-role="content">

    {{ content }}

  </div><!-- /content -->
</div><!-- /page -->
  
</body>
</html>