<div data-role="header">
  <a data-rel="back" data-icon="back" href="{{ auth_cancel | escape }}">Back</a>
  <h1>Logout</h1>
</div>
  
<div data-role="content">

<p class="one-button-message">
  You have been logged out of the the EHHapp on this device.
</p>

<p><a class="cancel" href="/" data-role="button" data-ajax="false">Thanks! Take me home</a></p>

</div><!-- /content -->